@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

table{
    background-color: #7FFFD4;
    border: solid 2px red;
    font-family: "Indie Flower";
}

table, th, td {
    border: 1px solid #ffffff;
    border-collapse: collapse;
  }

th{
    color: red;
}

table>tbody>tr:nth-child(3)>td:nth-child(4){
    background-color: #8FB1CC;
}
caption {
    padding: 10px;
    caption-side: bottom;
}



