*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

body>ul{
    margin: 5px auto;
    background-color: rgb(94, 94, 94);
    height: 40px;
    width: 80vw;

}

body>ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

body>ul>li{
   list-style: none;
   width: 200px;
   height:  17px;
   padding: 10px 0px;
   text-align: center; 
   color: #fff;
}

body>ul>li>ul{
    display: none;
}

body>ul>li:hover{
background-color: #FFC9AF;
}

body>ul>li:hover>ul{
    display: block;
    margin-top:10px ;
    margin-left: 180px;
    width: 200px;
    height: 100px;
    
}
body>ul>li:hover>ul>li{
   
    background-color: #C8C8C8;
    padding: 5px;
    width: 190px;
    height: 40px;
 
}





